.data-monthly-report {
  padding: 20px;
  background-color: #e6ecec;
}
.data-monthly-report h2{
  text-align: center;
  margin-top: 1rem;
  padding: 10px;
}
.report-generation{
  background: #fff;
  border-radius: 5px;
  padding: 10px;
}
.monthly-report input[type="month"] {
  margin: 10px 0;
  padding: 5px;
}

.data-monthly-report table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.report-table thead {
  background: #333;
  color: #fff;
}

.report-table td, th {
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 13px;
}

.report-table tfoot td {
  font-weight: bold;
  background: #f2f2f2;
}
.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.table-responsive table {
  min-width: 600px; /* or larger depending on your table content */
}
@media (max-width: 768px) {
  .data-monthly-report{
    padding: 2px;
  }
  .data-monthly-report h2{
    font-size: 13px;
  }
  .report-generation h3{
  font-size: 13px;
  }
  .table-responsive {
    overflow-x: auto;
  }

  .table-responsive table {
    min-width: 600px;
  }

}
